{% extends "base.html" %}
{% block title %}admin{% endblock %}
{% block content %}
    {% for item in data %}
        <div class="card" style="width: 18rem;">
            <img src="{{ item.photo }}" class="card-img-top">
            <div class=" text-center">
                <a target="_blank" href="https://vk.com/id{{ item.vk_id }}">Перейти на страницу VK</a>
            </div>
            <div class="card-body text-center">
                <a href="/delete/{{ item.id }}" class="btn btn-danger">delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}