
	 <tbody class="InsertTop" id="table_body">
    
    {# 1 #}
		 <tr>
             <td class="numberCenter">
               <img class="TopPhoto" src="static/1st.gif"> 

              </td>
            <td  class="photoCenter">
                <img class="TopPhoto" src="{{ user.photo }}" alt="">
        </td>
			<td class="scoreCenter">{{ user.rating }}</td>
			<td class="scoreCenter"><a target="_blank" title="Перейти на страницу VK" href="https://vk.com/id{{ user.vk_id }}"><img class="vktop" src="https://img.icons8.com/color/48/000000/vk-com.png"/></a></td>
		</tr>

	</tbody>
</table>